# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
.Python

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# JetBrains
.idea/

# Misc
*.swp
*.swo

# AI service data
*.npy

# Expo/React Native/Expo Go
.expo/
web-build/
expo-env.d.ts

# Android/iOS build
*.apk
*.aab
*.ipa

# Ignore local credentials and keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Ignore test coverage
coverage/
htmlcov/
